- if Workarea.config.sezzle_merchant_id.present?
  .sezzle.sezzle--product
    .sezzle__prices
      - if product.show_sell_range?
        %span.sezzle__price= number_to_currency(product.sell_min_price)
        –
        %span.sezzle__price= number_to_currency(product.sell_max_price)
      - else
        %span.sezzle__price
          = number_to_currency(product.sell_min_price)
